<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ajalugu</h2>
                    <h3 class="section-subheading text-muted">Lühike ülevaade meie senisest teekonnast.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1924</h4>
                                    <h4 class="subheading">Asutamine</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Paljude eesti akadeemiliste organisatsioonide asutamisloo jutustamisel võiks alustada sõnadega: „Sõpruskond noori, kes pidasid tähtsaks haritust, isamaalisust ja üksteise hoidmist…”
                                    <br><br>Korporatsioon Amicitiale 1924. aastal aluse pannud äsja gümnaasiumi lõpetanud ja Tartu Ülikooli õppima asunud noored naistudengid ihkasid sedasama. Eesmärgiks seati sõprustunde hoidmine ja arendamine ning haritud ja väärikate naiste kujundamine.
                                    <br><br>21. novembril 1924 kinnitati korp! Amicitia põhikiri ja Tartu Ülikooli rektor professor Heinrich Koppel (rektor aastatel 1920–1928) ulatas esimesena käe õnnitlusteks. 
                                    <br><br>Amicitia asutamise ajal oli avalikkus naiskorporatsioonide suhtes vaenulik, mis peegeldub ka Amicitia lipukirjas: „Per aspera ad astra” (ld k ’Läbi raskuste tähtede poole’). Vaatamata sellele asusid noored aktiivselt oma liikmeid vastuvõetud põhimõtete järgi kasvatama. 
                                    <br><br>Juba varem oli valitud sobiv värvikombinatsioon: sirelililla-tumeroheline-kuldne, mis sümboliseerib julgust, lootust ja ausust. Lisaks oli see värvikombinatsioon asutajate arvates elegantne ja naiselik.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1924–1940</h4>
                                    <h4 class="subheading">Sõjaeelne</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Õige pea hoogustus suhtlus peaaegu kõigi akadeemiliste organisatsioonidega. Amicade mälestuste kaudu on säilinud elavad kujutluspildid neidude in corpore  kojusaatmisest meeskorporantide poolt, seltskondlikest üritustest ja konvendi siseelust. 
                                        <br><br>Aastatel 1924–1940 oli elu konvendis hoogne: kasvas raamatukogu, loodi inglise, saksa ja vene keele õppegrupid, laulukoor ja džässorkester ning moodustati võrkpallinaiskond. Traditsioonilisteks üritusteks said talve- ja suvepäevad ning kella viie teed. Korraldati referaat- ja kirjandusõhtuid. 
                                        <br><br>Konvendi siseelu arenguga kaasnes tõus Tartu üliõpilaskonnas: osaleti aktiivselt edustuse töös ning üliõpilaskonna üritustel, in corpore kuuluti naiskodukaitsesse, võeti osa Akadeemilise Hõimuklubi, Akadeemilise Majanduse Seltsi ja teiste akadeemiliste ja erialaühenduste tööst. Koos õitsenguga muutus Amicitia nii populaarseks, et uute liikmete vastuvõttu tuli piirata. Aastaid kestnud sõprust Läti korporatsioon Imeriaga kroonis ametliku sõpruslepingu allakirjutamine 1939. aastal. 
                                        <br><br>1940. aastal lõpetasid okupatsioonijõud Amicitia ja kõigi teiste akadeemiliste üliõpilasorganisatsioonide tegevuse, leides need olevat ideoloogiliselt ja kasvatuslikult sobimatud. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1940-1989</h4>
                                    <h4 class="subheading">Okupatsiooniaeg</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Küüditamise ja okupatsiooni eest läände emigreerunud amicad lõid koondised Torontos, New Yorgis ja Seattle'is, kuid ka Eestis ei katkenud tegevus päriselt: üheskoos tähistati salaja korporatsiooni ja isiklikke tähtpäevi, peeti koosolekuid ja koguti liikmemaksu. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1989-tänapäev</h4>
                                    <h4 class="subheading">Olevik</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Paljude eesti akadeemiliste organisatsioonide taasasutamisloo jutustamisel võiks alustada sõnadega: „Üliõpilasühenduste järele oli kaheksakümnendate aastate lõpus tekkinud vajadus ning organisatsiooni taastamise idee hakkas noorte peas küpsema. Vanade juba läbiproovitud elujõudu näidanud põhimõtete alla ühinemine tundus siis parim mõte!”

                                        <br><br>Amicitia taasasutati 1989. aastal. Töötati ümber vana põhikiri, mille kiitsid heaks elus olevad vilistlased, sh ka kaks asutajaliiget; põhikirja kinnitas Tartu Ülikooli nõukogu 28. aprillil. Aastast 1991 on Amicitial kaks sõprusorganisatsiooni: Imeria Riias ja Wiipurilainen Osakunta Helsingi Ülikooli juures.
                                        
                                        <br><br>Korp! Amicitia on taasleidnud oma igapäevarütmi panustades oma liikmetesse, suheldes aktiivselt teiste organisatsioonidega ning olles kohaks, kus saab tuge iga haritud mõte ja julge pealehakkamine.
                                        
                                        <br><br>2019. aasta kevadel möödus 30 aastat korp! Amicitia taasastumisest ning samal sügisel 95 aastat asutamisest. Sel juubelihõngulisel aastal oli rõõm tähistada nii omakeskis kui sõprade ja kallite kaaslastega. Nagu on tavaks saanud, kuulus kavasse ka kõigile huvilistele avatud konverents, mis sel korral oli kantud mõttest "Üksi ja koos".
                                        
                                        <br><br>30 aastaga on taastatud vanu ja loodud uusi traditsioone. Olgu ettekanne mõnel põneval teemal, referaatõhtu, tantsutund, pannkoogihommik, suvepäevad - põhjusi kokku saada ja meeldivalt üheskoos aega viita leidub alati ning sõltumata aastaajast. Poolaasta tähtsamad tegemised kajastuvad Ad Astras, kaasvõitlejate ja rebaste toimetamisel ilmuvas siseajakirjas.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="#portfolioModal{{ 1 }}" class="join-link" data-toggle="modal">Liitu<br>meie<br>looga!</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>