<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tegevus</h2>
                    <h3 class="section-subheading text-muted">Sõpradega, amicadega, veedetud aeg pole kunagi igav!</h3>
                    <div class="text-section">
                        <p class="text-muted">Korp! Amicitia on tegusaid ja vahvaid eesti naisüliõpilasi ühendav korporatsioon, mis on asutatud 1924. aastal. Meie eesmärgiks on pakkuda oma liikmetele võimalusi enesearenduseks ja eneseteostuseks ning põnevat elu väljaspool loenguid ja eksameid.</p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-eye fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
