<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Amicitiast</h2>
                    <h3 class="section-subheading text-muted">Korp! Amicitia ühendab haritud kaasaegseid naisi.</h3>
                    <h3 class="section-heading">Põhimõtted</h3>
                    <div class="text-section">
                        <p class="text-muted"><br>Meie liikmed ei pruugi olla sama maailmavaatega, kuid meid ühendavad põhimõtted, mida oma igapäevaelus järgime ning väärtustame. Korp! Amicitia põhimõtted saab kokku võtta kolme lihtsa sõnaga: julgus, lootus ja ausus. Ometi on neis meie jaoks peidus midagi enamat, neid saab lõputult mõista ja mõtestada:</p>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Julgus</h4>
                    <p class="text-muted">Julgus teha teoks oma unistusi, algatada midagi uut, võtta vastutus, kaitsta oma seisukohti.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Lootus</h4>
                    <p class="text-muted">Lootus, et unistused täituvad, et algatusest sünnib tegu.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ausus</h4>
                    <p class="text-muted">Ausus enese ja teiste vastu.</p>
                </div>
            </div>
            <div class="row text-center">
                <br><br>
                <hr>
                <br><br>
                <h3 class="section-heading">Sümboolika</h3>
                <br>
                <div class="col-lg-12 text-center">
                    <div class="text-section">
                        <p class="text-muted">Korp! Amicitia värvikombinatsiooni sirelililla, tumerohelise ja kuldse valis välja meie asutajaliige vil! Emilie Ruubel. Mõte just selliste toonide kokkusobitamiseks tulnud tal vaadates kevadist sirelioksa kuldses vaasis. Need värvid sümboliseerivad vastavalt julgust, lootust ja ausust ning seonduvad meie liikmetele kevade, nooruse ja naiselikkusega. Värve võib näha meie lipul, vapil, teklitel ning värvilintidel. Esmakordselt kandsid amicad avalikult värve 1925. aastal Eesti Vabariigi aastapäeval.</p><br>
                    </div>
                    <div class="row row-center text-section">
                        <div class="col-md-4">
                            <img class="img-responsive" src="img/services/lipp.png" alt="Lipp">
                            <p class="text-muted">Lipp</p>
                        </div> 
                        <div class="col-md-4">
                            <img class="img-responsive" src="img/services/vapp.png" alt="Vapp">
                            <p class="text-muted">Vapp</p>
                        </div> 
                        <div class="col-md-4">
                            <img class="img-responsive" src="img/services/myts1.png" alt="Värvitekkel">
                            <p class="text-muted">Värvitekkel</p>
                        </div> 
                        <div class="col-md-4">
                            <img class="img-responsive" src="img/services/myts2.png" alt="Rebastekkel">
                            <p class="text-muted">Rebastekkel</p>
                        </div> 
                    </div>
                    <div class="text-section">
                        <p class="text-muted">Korp! Amicitia lipukirjaks on „Per aspera ad astra” (ld k ’Läbi raskuste tähtede poole’). Selle valikul sai määravaks 20. sajandi alguse üldine ühiskondlik foon. Ühiskondlikult ja akadeemiliselt aktiivsed naised pidid end mitmeski mõttes raskuste kiuste tõestama. Just seetõttu ongi asutajaliikmed akadeemilise naiskorporatsiooni loomise ja tegevuses hoidmise raskused lipukirja valanud. 
                        <br><br>Lisaks värvidele kasutame korporatsioon Amicitia välismärkidel sirklit ehk vääntähte, mis moodustub tähekombinatsioonist V-C-F-C-A. Need on algustähed hüüdest „Vivat, crescat, floreat corporatio Amicitia in aeternum!” (ld k ’Elagu, kasvagu, õitsegu korporatsioon Amicitia igavesti!’)</p>  
                    </div>
                    <div class="row">
                        <div class="timeline-image">
                            <img class="img-responsive img-centered" src="img/services/sirkel.png" alt="">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>